/*--- Desktop ---*/

@media screen and (min-width: 601px) {
	  
  	.column-status{
		background: lightgrey;
		height: 400px;
		min-width: 400px;
		max-width: 900px;
	  	overflow-y: scroll;
	}

  	.text-navbar-1{
	    font-family: "Nunito bold", "Arial", Helvetica;
	    font-size: 28px;
	    color : lightgrey;
    }

    .text-big1-1 {
		font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 40px;
    	color : white;
	}

    .text-big2-1{
    	font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 80px;
    	color : white;
    }

    p{
	    font-family: "Nunito", "Arial";
	    font-size: 20px;
	    color : white;
    }
}

/*--- phone ---*/

@media screen and (max-width: 600px) {

  	.column-status{
		background: lightgrey;
		height: 200px;
		min-width: 200px;
		max-width: 300px;
	  	overflow-y: scroll;
  	}

  	.text-navbar-1{
	    font-family: "Nunito bold", "Arial", Helvetica;
	    font-size: 20px;
	    color : lightgrey;
    }

    .text-big1-1 {
  		font-family: "Nunito 900", "Arial", Helvetica;
	    font-size: 30px;
	    color : white;
  	}

  	.text-big2-1{
    	font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 60px;
    	color : white;
    }

    p{
	    font-family: "Nunito", "Arial";
	    font-size: 18px;
	    color : white;
    }
}

/*--- page styling ---*/

	/*--- theme 1 ---*/
.page-1-1 {
	background : gold;
	display : grid;
	width : 100%;
	height: 690px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : black;
}

.page-2-1 {
	background : blue;
	display : grid;
	width : 100%;
	min-height: 690px;
	max-height: 3000px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : black;
}

.page-3-1 {
	background : navy;
	display : grid;
	width : 100%;
	height: 690px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : white;
}


/*--- content wrapping ---*/

.align-center{
	position : center;
	margin:0 auto;
}


/*--- Spinner ---*/

.progress {
    height: 300px;
}

.progress > svg {
    height: 100%;
    display: block;
}

.book-collections {
	visibility: hidden;
}



/*--- FAV BUTTON ----*/
.flexbox {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.fav-btn {
	display:flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}


@keyframes favme-anime {
  0%   { 
		opacity: 1;
		font-size: ms(0);
		-webkit-text-stroke-color: transparent;
	}
	25%	 { 
		opacity:.6;
		color: #FFF;
		font-size: ms(-2);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
	75%	 { 
		opacity:.6;
		color: #FFF;
		font-size: ms(3);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
  100% { 
		opacity: 1;
		font-size: ms(2);
		-webkit-text-stroke-color: transparent;
	}
}

@keyframes favme-hover {
	from {
		font-size: ms(3);
	}
	80% {
		font-size: ms(2);
	}
}

.favme {
	display:block;
	font-size: ms(2);
	width: auto;
	height: auto;
	cursor: pointer;
	box-shadow: none;
	transition: all .2s ease;
	color: #CBCDCE;
	margin: 0;
	
	&.active {
		color: #DC3232;
	}
	&:hover {
		animation: favme-hover .3s infinite alternate;
	}
	&.is_animating {
		animation: favme-anime .3s;
	}
}

/*--- ref : https://www.w3schools.com/howto/howto_css_loader.asp ---*/