/*--- Desktop ---*/

@media screen and (min-width: 601px) {
	  
  	.column-status{
		background: lightgrey;
		height: 400px;
		min-width: 400px;
		max-width: 900px;
	  	overflow-y: scroll;
	}

  	.text-navbar-1{
	    font-family: "Nunito bold", "Arial", Helvetica;
	    font-size: 28px;
	    color : lightgrey;
    }

    .text-big1-1 {
		font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 40px;
    	color : white;
	}

    .text-big2-1{
    	font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 80px;
    	color : white;
    }

    p{
	    font-family: "Nunito", "Arial";
	    font-size: 20px;
	    color : white;
    }
}

/*--- phone ---*/

@media screen and (max-width: 600px) {

  	.column-status{
		background: lightgrey;
		height: 200px;
		min-width: 200px;
		max-width: 300px;
	  	overflow-y: scroll;
  	}

  	.text-navbar-1{
	    font-family: "Nunito bold", "Arial", Helvetica;
	    font-size: 20px;
	    color : lightgrey;
    }

    .text-big1-1 {
  		font-family: "Nunito 900", "Arial", Helvetica;
	    font-size: 30px;
	    color : white;
  	}

  	.text-big2-1{
    	font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 60px;
    	color : white;
    }

    p{
	    font-family: "Nunito", "Arial";
	    font-size: 18px;
	    color : white;
    }
}

/*--- page styling ---*/

	/*--- theme 1 ---*/
.page-1-1 {
	background : gold;
	display : grid;
	width : 100%;
	height: 690px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : black;
}

.page-2-1 {
	background : blue;
	display : grid;
	width : 100%;
	min-height: 690px;
	max-height: 3000px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : black;
}

.page-3-1 {
	background : navy;
	display : grid;
	width : 100%;
	height: 690px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : white;
}


/*--- content wrapping ---*/

.align-center{
	position : center;
	margin:0 auto;
}


/*--- Spinner ---*/

.progress {
    height: 300px;
}

.progress > svg {
    height: 100%;
    display: block;
}

.book-collections {
	visibility: hidden;
}



/*--- FAV BUTTON ----*/

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-star-o:before {
    content: "\f006";
}

.fa-star:before {
	content: "\f005";
}

.clickFav {
	font-size: 33px;
	color: rgba(0,0,0,.5);
	width: 38px;
	height: 38px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}

body {
	padding-top: 20px;
}

.clickFav span {
	margin-left: 4px;
	margin-top: 3px;
	z-index: 999;
	position: absolute;
}

span:hover {
	opacity: 0.8;
}

span:active {
	transform: scale(0.93,0.93) translateY(2px)
}

.ring, .ring2 {
	opacity: 0;
	background: grey;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 19px;
	left: 18px;
	border-radius: 50%;
	cursor: pointer;
}

.active span, .active-2 span {
	color: #F5CC27 !important;
}

.active-2 .ring {
	width: 58px !important;
	height: 58px !important;
	top: -10px !important;
	left: -10px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.active-2 .ringFav {
	background: #F5CC27 !important;
}

.active-2 .ring2 {
	background: #fff !important;
}

.active-3 .ring2 {
	width: 60px !important;
	height: 60px !important;
	top: -11px !important;
	left: -11px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.infoFav {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	color: grey;
	position: relative;
	top: 30px;
	left: -46px;
	opacity: 0;
	transition: all 0.3s ease;
}

.infoFav-tog {
	color: #F5CC27;
	position: relative;
	top: 45px;
	opacity: 1;
}

* {
	transition: all .32s ease;
}

/*--- ref : https://www.w3schools.com/howto/howto_css_loader.asp ---*/