/*--- Desktop ---*/

@media screen and (min-width: 601px) {
	  
  	.column-status{
		background: lightgrey;
		height: 400px;
		min-width: 400px;
		max-width: 900px;
	  	overflow-y: scroll;
	}

  	.text-navbar-1{
	    font-family: "Nunito bold", "Arial", Helvetica;
	    font-size: 28px;
	    color : lightgrey;
    }

    .text-big1-1 {
		font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 40px;
    	color : white;
	}

    .text-big2-1{
    	font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 80px;
    	color : white;
    }

    p{
	    font-family: "Nunito", "Arial";
	    font-size: 20px;
	    color : white;
    }
}

/*--- phone ---*/

@media screen and (max-width: 600px) {

  	.column-status{
		background: lightgrey;
		height: 200px;
		min-width: 200px;
		max-width: 300px;
	  	overflow-y: scroll;
  	}

  	.text-navbar-1{
	    font-family: "Nunito bold", "Arial", Helvetica;
	    font-size: 20px;
	    color : lightgrey;
    }

    .text-big1-1 {
  		font-family: "Nunito 900", "Arial", Helvetica;
	    font-size: 30px;
	    color : white;
  	}

  	.text-big2-1{
    	font-family: "Nunito 900", "Arial", Helvetica;
    	font-size: 60px;
    	color : white;
    }

    p{
	    font-family: "Nunito", "Arial";
	    font-size: 18px;
	    color : white;
    }
}

/*--- page styling ---*/

	/*--- theme 1 ---*/
.page-1-1 {
	background : gold;
	display : grid;
	width : 100%;
	height: 690px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : black;
}

.page-2-1 {
	background : blue;
	display : grid;
	width : 100%;
	min-height: 690px;
	max-height: 3000px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : black;
}

.page-3-1 {
	background : navy;
	display : grid;
	width : 100%;
	height: 690px;
	position : relative;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-backround-size : cover;
	color : white;
}


/*--- content wrapping ---*/

.align-center{
	position : center;
	margin:0 auto;
}


/*--- Spinner ---*/

.progress {
    height: 300px;
}

.progress > svg {
    height: 100%;
    display: block;
}

.book-collections {
	visibility: hidden;
}



/*--- FAV BUTTON ----*/
.fav-star {
  font-size: 2rem;
  line-height: 0.75;
  cursor: pointer;
  text-align: center;

}

/*--- ref : https://www.w3schools.com/howto/howto_css_loader.asp ---*/