	{% load staticfiles %}
	
	{% block content %}

	<!--- Page 1 --->



	<body id="page-top">
		<div class="page-1-1" id="page1">
			<div class="align-center">
				<div class="container">
					<div class="container-fluid">

						<!-- Greetings -->
						<br/><br/><br/><br/>
						<div class="row align-items-center">
							<div class="col align-self-start">
             					{% if user.is_authenticated %}  
                    				<p class="display-4">Hello {{ user.username }}, apa kabar?</p>
                				{% else %}
                  					<a class="lead">Login dulu cuy:)</a>
                				{% endif %}
							</div>
						</div>

						<!-- Field status update-->

						<div class="row">
							<div class="col-md-2 col-md-offset-5"> 
								<form id="form" method="POST" action="{% url 'story6:save_new_status' %}">

									{% csrf_token %}
									
									{{ new_status_field.as_p }}
									
									<input  type='submit' value='Post!' class="btn btn-primary btn-lg">
								</form>
							</div>
						</div>
					</div>	
				</div>
			</div>
			
		</div>
					
	

	    <!--- page 2 --->
		<div class="page-2-1" id="page2">
			<div class="align-center">
				<h1 class="text-big1-1">RECENT STATUS</h1>
				<br/><br/><br/>

				<!-- all status displayed here -->
				
					<div class="column-status">

						{% for data in status_all %}
						<div class="row">
							<div class="col">
								<div class="row align-items-center">
									<div class="col">
										<h4>
										{{ data.statusContent }}			
										</h4>
									</div>
								</div>
							</div>
							<div class="row align-items-end">
								<div class="col">
									<br/>	
									<p>
										{{ data.dateTime|date:"h:i A - d M Y"}}
									</p> 
								</div>
							</div>
						</div>
						<br/><br/>
						{% endfor %}	
					</div>
				</div>
			</div>
		</div>

	<!--- page 3 --->
		<div class="page-3-1" id="page3">
			<div class="container">
				<div class="align-centered">
					<br/><br/><br/>
					<div class="alert alert-primary"
						<p>
						Haloo.., perkenalkan nama saya Adam Maulana. Sekarang ini saya sedang berada dalam masa pendidikan tingkat 2 di Fasilkom Universitas Indonesia. Saya tinggal di kota Jakarta Utara. Untuk mengenal saya lebih lanjut, silahkan akses kotak <i>dropdown</i> di bawah ini. 
						</p> <br/><br/>	
					</div>
					<div class="alert alert-success">
						<div class="accordion">
							<dt><button type="button" class="btn btn-warning">Organisasi</button></dt>
							<dd>
								<li>FUKI Fasilkom -  2018--2019</li>
								<li>PASKIBRA SMAN 13 JAKARTA - 2014--2016</li>
								<li>SRI SMAN 13 Jakarta - 2014--2016</li>
								<br/>
							</dd><br/>
							<dt><button type="button" class="btn btn-secondary">Kepanitiaan</button></dt>
							<dd>
								<li>Seroja Muslim Festival 2015 - Dana & Usaha</li>
								<li>Studi Wisata Islam 2015 - Perlengkapan</li>
								<li>Studi Islam Instensif - PO</li>
								<li>Galas Flagtroops Event 9th--11th</li>
							</dd><br/>

							<dt><button type="button" class="btn btn-success">Aktivitas Terakhir</button></dt>
							<dd>
								<li>Rapat Dept - 08 Nov 2018</li>
								<li>Rapat BPH - 08 Nov 2018</li>
								<li>Service laptop - 07 Nov 2018</li> 
								<li>Rapat phynence - 07 Nov 2018</li>
								<li>Editing foto Kepanitiaan</li>
							</dd><br/>
							
							<dt><button type="button" class="btn btn-info">Prestasi</button></dt>
							<dd>
								<li>Juara 1 Kategori STEM - PestaSains IPB 2015</li>
								<li>Juara 3 LPBB - BAZKOM SMAN 68 Jakarta 2016</li>
								<li>Juara 1 Fotografi -  UI Store Merchandise Competition</li>
							</dd><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-2-1" id = "page4">
			<br/><br/><br/>
			<div class="align-center">
				<h3 class="text-big1-1">Favorited Books! : <h3 id="favCount" class="text-big1-1">0</h3></h3>
				<br/><br/>
				<form method="GET" action="{% url 'search-book' %}">
					{% csrf_token %}
					<input class="form-control" type="text" placeholder="Search books..." name="search-box" id="search-box1">
					<button type="submit" class="btn btn-primary" id="searchBTN">Find!</button>
				</form>
				<div class="container-fluid">
					<div class="column-status">
						<button  type="button2" id="button2" name="button2" class="btn btn-info">
							Show books!
						</button>
						<br/>
							<div class="book-collections" id="book-collections">
								<table class="table" id="demo1">
									<thread>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Cover</th>
											<th scope="col">Title</th>
											<th scope="col">Author</th>
											<th scope="col">Date Published</th>
											<th scope="col">Add to Favourite</th>
										</tr>
									</thread>
									<tbody id="volumes-table-body">
										
									</tbody>
								</table>
							</div>
					</div>
					<br/>
			</div>
		</div>




	</body>


	{% endblock %}