	{% load staticfiles %}

	{% block content %}

	<body id="page-top">

		<!-- Navigation Start Here -->
		<div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4" id = "navbar_dark">
                <a class="text-navbar-1" href="/main/#page1">LANDING</a> <br/>
                <a class="text-navbar-1" href="/main/#page2">RECENT STATUS</a> <br/>
                <a class="text-navbar-1" href="/main/#page3">ABOUT</a> <br/>
                <a class="text-navbar-1" href="/main/#page4">BOOKS COLLECTION</a> <br/>
            </div>
        </div>
        	<nav class="navbar navbar-dark bg-dark">
            	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" id="nav_button">
                <span class="navbar-toggler-icon"></span>
            	</button>

            	<button type="button" class="btn btn-secondary" onclick=changeTheme() id="th_switch">Change Theme</button>
                {% if user.is_authenticated %}  
                    <a class="text-navbar-1" href="/logout/">Log out</a>
                {% else %}
                    <a class="lead" href="{% url 'login' %}">Log in</a>
                {% endif %}
                

            </nav>
    	</div>

		<!-- Navigation End Here -->


		

	{% endblock %}

