	{% load staticfiles %}


	{% block content %}
	<body id="page-top">
		<div class="page-1-1" id="page1">
			<div class="align-center">
				<div class="container">
					<div class="container-fluid">

						<div class="row">
							<div class="col-md-2 col-md-offset-5"> 
								<form id="form_regist" method="POST" action="{% url 'login' %}">
									<br/><br/><br/><br/><br/><br/><br/>
		 							{% csrf_token %}

									{{ registration_form.as_p }}

									<input type='submit' value='login' class="btn btn-primary btn-lg"/>
								</form>
								<br/>

								<div class="g-signin2" data-onsuccess="onSignIn">
									{% csrf_token %}
									<button type="button" class="btn btn-light" id="gapi-signIn">Continue with Google</button>
								</div>
								<script src="https://apis.google.com/js/platform.js" async defer></script>
							</div>
						</div>
					</div>	
				</div>
			</div>
			
		</div>

	</body>
	{% endblock %}